/* importando el tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap');

/* creando variables */

:root{
    --bg-header: #8d8b8b4f;
    --clr-header: #fff;
    --clr-font-footer: #ffffffc5;
    --clr-font-footer-hover: #ffffff88;
    
    --clr-primary: #ffcd27;
    --clr-primary-hover: #d3a613;
    --clr-font: #302e2e;
    --clr-input: #99999969;
    --clr-input-hover: #68686896;
    --clr-input-focus: #686868c0;

}

/* aplicando la fuente tipografica al body */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: var(--clr-font);
}

/* aplicando scroll-behavior al html para que los links tengan un efecto suave cuando hagamos click */
html{
    scroll-behavior: smooth;
}

/* seteando los estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aplicando estilo general al los h2 > body */
a{
    text-decoration: none;
    color: inherit;
    font-size: .9em;
}

li{
    list-style: none;
}

button, input{
    padding: .5em .8em;
    outline: none;
    border: none;
    cursor: url(cursor/Mickey-Mouse-cursor.cur), pointer;
}

button{
    font-size: .9em;
    border-radius: .5em;
}

:is(a, li, i, button):hover{
    color: var(--clr-primary-hover);
    cursor: url(cursor/Mickey-Mouse-cursor.cur), pointer;
}

h3{
    font-size: 2em;
}

/* estilizando title-overline */
.title-overline{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* estilizando line > title-overline */
.line{
    padding: 2.2px;
    margin-top: 2px;
    border-radius: 20px;
    background-color: #ffcd27;
    width: 90%;
    animation: lineAnimated 1.5s ease-in-out infinite alternate;
}

@keyframes lineAnimated {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

.point-color{
    color: var(--clr-primary);
    margin-left: .011em;
}

/* HEADER */
.header-container{
    padding: .8em 8em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-header);
    backdrop-filter: blur(8px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* DIV: navbar-container */

/* estilizando el div logo-container*/
.logo-container{
    display: flex;
    align-items: center;
}

/* estilizando la imagen > logo */
.logo-img{
    width: 3em;
}

/* estilizando el texto > logo */
.logo-text{
    font-size: 35px;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    color: var(--clr-header);
    margin: 0 8px;
    transition: color, 200ms ease;
}

.logo-text:hover{
    color: #f1d272;
}

.iconBars{
    display: none;
    font-size: 1.5em;
    color: var(--clr-header);
}

:is(.links-list-desktop, .links-list-mobile){
    display: flex;
    align-items: center;
    gap: .5em;
}

.links-item{
    color: var(--clr-header);
}

.links-item > a:hover{
    text-decoration: underline;
}

.links-mobile-container{
    display: none;
}

/* hero-container */
.hero-container{
    padding: 0 8em;
    background-image: url(imagenes/img-back-hero.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--clr-header);
    mix-blend-mode: darken;
    background-color: rgba(0, 0, 0, .5);
}

.hero-wrapper-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* hero-wrapper-title */
.hero-wrapper-title{
    font-size: 3.1em;
}

/* hero-wrapper-title2 */
.hero-wrapper-title2{
    font-size: 3.5em;
}

/* estilizando el span para darle color al text-hero */
.color-span{
    color: #ffcd27;
}

.hero-wrapper-links{
    display: flex;
    gap: .5em;
    padding-top: 5em;
}

/* main-wrapper */
.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin-top: 3em;
}

/* section: tours */
.tours{
    padding: 0 8em;
    padding-top: 7em;
}

/* estilizando el div title-tours */
.title_tours{
    margin-bottom: 60px;
}

/* estilizando el div tours-title */
.tours_title{
    margin: 60px 0;
    font-size: 60px;
    text-align: center;
}

/* estilizando el div tours-tarjets */
.tours-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-top: 1em;
}

.card-box-img{
    width: 100%;
}

/* estilizando el div card-box */
.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    border: 2px solid #e5e5e5;
    overflow: hidden;
    transition: transform, 200ms ease;
}

.card-box:hover{
    transform: translatey(-.015em) scale(1.01);
}

.card-box-content{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 1em;
}

.card-box-desc{
    text-align: center;
}

/* section: about-us */

.about-us{
    padding: 0 8em;
    padding-top: 7em;
}

.about-us-description{
    margin: .5em 0;
}

/* about-us-top */

/* estilizando el About-us-top */
.about-us-top{
    display: flex;
    margin: 1.8em 0;
}

/* estilizando la imagen > About-us-top */
.about-us-up-img{
    width: 35em;
    border-radius: 1em;
}

/* estilizando el about-us-text */
.about-us-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8em;
}

.about-us-text-title{
    font-size: 1.55em;
}

.about-us-text-description{
    font-size: 1.05em;
    margin-block: .5em;
    margin-bottom: 1em;
}

/* about-us-center */

.About-us-center{
    margin: 2.8em 0;
}

/* estilizando el professional-guide > about-us-center */
.professional-guides{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    margin-top: 1em;
}

/* estilizando el professional-card > professional-guide */
.professional-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    border-radius: .5em;
    padding: 1em 1.5em;
    border: 1px solid var(--clr-input);
}

/* estilizandola imagen > professional-tarjet > professional-guide */
.professional-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

/* aplicando la imagen 1 al professional-img > professional-tarjet > professional-guide */
.pro-img-1{
    background-image: url(imagenes/professional_tarjet\(01\).jpg);
}

/* aplicando la imagen 2 al professional-img > professional-tarjet > professional-guide */
.pro-img-2{
    background-image: url(imagenes/professional_tarjet\(02\).jpg);
}

/* aplicando la imagen 3 al professional-img > professional-tarjet > professional-guide */
.pro-img-3{
    background-image: url(imagenes/professional_tarjet\(03\).jpg);
}

/* aplicando la imagen 4 al professional-img > professional-tarjet > professional-guide */
.pro-img-4{
    background-image: url(imagenes/professional_tarjet\(04\).jpg);
}

/* aplicando la imagen 5 al professional-img > professional-tarjet > professional-guide */
.pro-img-5{
    background-image: url(imagenes/professional_tarjet\(05\).jpg);
}

/* aplicando la imagen 6 al professional-img > professional-tarjet > professional-guide */
.pro-img-6{
    background-image: url(imagenes/professional_tarjet\(06\).jpg);
}

.professional-name{
    font-weight: 600;
    font-size: 1em;
}

.professional-card-desc{
    text-align: center;
}

/* section: contact-us */

.contact-us{
    padding: 0 8em;
    padding-top: 7em;    
}

/* contact-us-form-wrapper */
.contact-us-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 2em;
}

:is(.contact-us-form-title1, .contact-us-form-title2){
    font-size: 1.2em;
}

/* estilizando el form > contact-us */
.contact-us-form{
    display: flex;
    flex-direction: column;
    gap: .2em;
    margin-top: .8em;
}

.form-group{
    display: flex;
    align-items: center;
    gap: .5em;
}

.form-subgroup{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-us-form-input{
    background-color: inherit;
    border-bottom: 1px solid var(--clr-input);
}

.contact-us-form-input:hover{
    border-bottom: 1px solid var(--clr-input-hover);
}

.contact-us-form-input:focus{
    border-bottom: 1px solid var(--clr-input-focus);
}

/* estilizando el label > form > contact-us */
.contact-us-form-label{
    font-size: 16px;
    margin: .2em 0;
}

/* estilizando el btn-container > form > contact-us */
.contact-us-form-btn{
    margin-top: 1.5em;
    background-color: #f1d272;
    padding-block: .8em;
}

.contact-us-form-btn:hover{
    background-color: #cab061;
    color: var(--clr-header);
}

/* estilizando el color-span > form > contact-us */
form .color-span{
    font-size: 20px;
    color: #ffc400;
}

/* footer */

.footer-top{
    padding: 0 8em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4em 0 3em;
    gap: 1em;
}

/* estilizando las imagenes > footer-top > footer */
.footer-top img{
    width: 10.5em;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imagenes/back_footer\ \(7\).jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    padding-block: 8em;
}

.links-footer{
    margin: 19px 0;
    display: flex;
    align-items: center;
    gap: .9em;
}

.links-footer a{
    font-size: 1.1em;
    color: var(--clr-font-footer);
}

.links-footer a:hover{
    color: var(--clr-font-footer-hover);
}

.suscribe-container{
    display: flex;
    border: 3px solid #f9f9f9;
}

.suscribe-input{
    background-color: transparent;
}

.suscribe-input:hover{
    background: linear-gradient(120deg, #9999991a,#55555573);
}

.suscribe-input:focus{
  background: linear-gradient(120deg, #9999997c,#55555573);
}

.suscribe-input::placeholder{
  font-size: 18px;
  color: var(--clr-font-footer);
}

.suscribe-btn{
    padding: .6em 1em;
    margin: .3em;
    background-color: #f9f9f9;
    border-radius: 0;
}

.suscribe-btn:hover{
    background-color: #bbbbbb;
    color: var(--clr-font);
}

.social-networks-footer{
    margin: 18px 0;
}

.social-networks-footer i{
    font-size: 30px;
    color: var(--clr-font-footer);
    margin: 0 15px;
}

.social-networks-footer i:hover{
    color: var(--clr-font-footer-hover);
}

.footer-bottom{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    color: var(--clr-font-footer);
    background-color: #111111;
}

.footer-bottom h3{
   text-align: center;
   color: #f9f9f9;
   padding: 10px;
}

/* media-queries */
@media screen and (max-width:1650px) {
    .tours-cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .professional-guides{
        grid-template-columns: repeat(3, 1fr);
    }

    .about-us-text{
        padding-left: 5em;
    }
}

@media screen and (max-width:1500px) {
    .about-us-text{
        padding-left: 3em;
    }
}

@media screen and (max-width:1400px) {
    .tours-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-us-form-wrapper{
        width: 100%;
    }
}

@media screen and (max-width:1350px) {
    .about-us-top{
        flex-direction: column;
    }

    .about-us-text{
        padding-left: 0;
        margin-top: 1em;
    }

    .about-us-up-img{
        width: 100%;
        height: 30em;
        object-fit: cover;
    }
}

@media screen and (max-width:1250px) {
    .professional-guides{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1000px) {
    :is(.professional-guides, .tours-cards){
        grid-template-columns: repeat(1, 1fr);
    }

    .links-footer{
        flex-direction: column;
    }

    .about-us-up-img{
        height: 25em;
    }

    :is(.header-container, .hero-container, .tours, .about-us, .contact-us, .footer-top){
        padding-inline: 5em;
    }

    .logo-img{
        width: 2.5em;
    }
}

@media screen and (max-width:800px) {
    :is(.header-container, .hero-container, .tours, .about-us, .contact-us, .footer-top){
        padding-inline: 3em;
    }

    .footer-center{
        padding-block: 4em;
    }

    .links-desktop-container{
        display: none;
    }

    .links-mobile-container{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: 10em;
        background-color: #10242B;
        box-shadow: 0 0 0 500vmax rgba(0, 0, 0, .5);
        z-index: 100;
        padding-top: 1em;
    }

    .mobile-disabled{
        display: none;
    }

    .links-list-mobile{
        flex-direction: column;
    }

    .iconClose{
        font-size: 1.5em;
        color: var(--clr-header);
    }

    .iconBars{
        display: block;
    }
}